body {
    font-family: "Crimson Text", "Times New Roman", serif;
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: #F2FFFC;
    line-height: 1.5;
}
div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
main div{
    padding: 30px 0;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
main {
    float: left;
    width: 85%;
    padding-bottom: 80px;
}
main h1{
    font-size:60px;
    background-color: #851944;
    color: #fff;
    text-align: center;
    font-family: "Arial";
    padding: 25px;
    margin: 0px;
    border-bottom: 10px solid #000;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    text-transform: uppercase;

}

h2 {
    font-size: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    clear: both;
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


p{
    text-align: justify;
    margin: 20px;
}

blockquote{
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #c2ccca;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}
blockquote, aside, footer{
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
.fiat{
    float: right;
}
.petrobras{
    float: left;
}


.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}
aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}


nav a{
    color: #F2FFFC;
    text-transform: lowercase;
}

ul {
    list-style-type:none;
    color: pink;
    
}

ul li a {
    color: inherit;
}

aside{
    float: right;
    width: 15%;
    clear: right;
    box-sizing: border-box;
    position: relative;
    top: 310px;

}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

#rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.icones-sociais li {
    display: inline-block;
}

.icones-sociais a {
    
    height: 40px;
    width: 40px;
    display: block;
    text-indent: -10000px;
}
.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.linkedin{
    background-image: url(../img/linkedin.png);
}
.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.minha-foto{
    width: 300px;
    position: absolute;
    border-bottom: 10px solid #000;
    border-left: 10px solid #000;
    top: 0;
    right: 0;
}

.portfolio li {
    display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.portfolio img {
    width: 100%;
}