.foto-home {
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 1em #000;
}
.saudacao p {
  font-size: 1.5em;
  color: #99a;
  line-height: 1;
  padding: 2em;
}

.saudacao-inicio {
  font-size: 3em;
  color: #889;
}
.saudacao-ultima-linha {
  text-align: right;
  display: block;
}
.saudacao strong {
  font-size: 2em;
  color: #000;
}

@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.saudacao em {
  color: #851944;
  font-size: 4em;
  -webkit-transform: rotate(-5deg) skew(-10deg);
  transform: rotate(-5deg) skew(-10deg);
  display: inline-block;
  
  animation: flutua 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
}

.saudacao:hover em {
    animation-play-state: paused;
}



.botao-index {
  font-size: 1.25em;
  background-color: #851944;
  color: #fff;
  padding: 0.5em;
  border: 0.2em solid black;
  width: 40ch;
  margin: 2em auto;
  display: block;
  text-align: center;
  box-shadow: 0 0 1em #000, inset 0 0 0.5em #fff;
  border-radius: 10px;
    text-decoration: none;

}
.secao-inicio {
  padding: 2em;
}
.secao-inicio h2 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  text-shadow: 5px 5px #000;
}
.trabalhos {
  background-color: #3c1d3d;
  border-top: 0.5em solid #000;
  border-bottom: 0.5em solid #000;

  background-image: linear-gradient(
    135deg,
    transparent,
    transparent 14px,
    rgba(0, 0, 0, 0.1) 14px,
    rgba(0, 0, 0, 0.1) 15px,
    transparent 15px,
    transparent
  );
  background-size: 20px 20px;
  background-attachment: fixed;
}
.trabalhos h2 {
  color: #fff;
}
.trabalhos ul {
  overflow: hidden;
  border: 0.5em solid black;
  display: flex;
}
.trabalhos li {
  float: left;
  width: 33.333%;
}
.trabalhos img {
  width: 100%;
  display: block;
}
.blog {
  background-color: #999;
  position: relative;
  color: #fff;
  border-bottom: 0.5em solid #851944;

  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 14px,
    rgba(255, 255, 255, 0.1) 14px,
    rgba(255, 255, 255, 0.1) 15px,
    transparent 15px,
    transparent
  );
  background-size: 20px 20px;
  background-attachment: fixed;
}
.blog small {
  position: relative;
  top: -2em;
}
.blog li {
  width: 30%;
}
.blog li a {
  color: #fcf;
  padding: 0.5em;
  display: block;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog a:hover,
.blog a:focus {
    background-color: #F2FFFC;
    color: #F26;
}


footer {
  background-color: #000;
  color: #fff;
  padding: 2em;
}
footer h2 {
  font-size: 3em;
}
footer a {
  color: #f99;
}
main {
  width: 100%;
  padding-bottom: 0;
  float: none;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  -webkit-perspective: 6px;
  perspective: 6px;
  -webkit-perspective-origin: 50% 160px;
  perspective-origin: 50% 160px;
}
.palavras-home {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}
.palavra-home {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 400%;
  /* color: #D5447E; */
  color: rgba(255, 127, 127, 0.5);
  position: absolute;
  -webkit-animation: aparece 2s;
  animation: aparece 2s;
}

.eficiencia {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(0.25);
  opacity: 0.3;
}

.boas-praticas {
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(0.25);
  opacity: 0.3;
}

.codigo-limpo {
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(0.25);
  opacity: 0.6;
}

.css3 {
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(0.25);
  opacity: 0.6;
}

.html5 {
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(0.25);
  opacity: 0.6;
}

.javascript {
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(0.25);
  opacity: 0.3;
}

.acessibilidade {
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(0.25);
  opacity: 0.8;
}

.responsivo {
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(0.25);
  opacity: 0.8;
}

.otimizacoes {
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(0.25);
  opacity: 0.6;
}

.agilidade {
  top: 75%;
  left: 35%;
  transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(0.25);
  opacity: 0.3;
}

.design {
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(0.25);
  opacity: 0.6;
}

.titulo-principal {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  background-image: linear-gradient(to bottom, #851944, #000);
}
.banner-twitter {
  position: absolute;
  top: 0;
  right: 0;

  line-height: 1;

  /* largura = 14em */
  /* altura = 3.5em */
  /* tx = .707 * h - .707 * w + w */
  /* ty = -.707 * h */
  -webkit-transform: translate(6.5765em, -2.4745em) rotate(45deg);
  transform: translate(6.5765em, -2.4745em) rotate(45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  width: 14em;
  padding: 1em 0;
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  background-color: #3c1d3d;
  color: white;
  border: 0.25em solid black;

  font-size: 1.2em;
  font-family: "Open Sans Condensed", sans-serif;
  transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
  animation: aparece 0.5s;
  transition-delay: 2s;
}
.blog .inicio-post {
  position: absolute;
  top: 4em;
  height: 8em;
  left: 30%;
  right: 4em;
  background-color: #f2fffc;
  color: #000;
  padding: 1.5em;
}
.blog .mais-recente {
  background-color: #f2fffc;
}
.blog .mais-recente a {
  color: #f26;
}

.botao-index:focus,
.botao-index:hover {
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
    transition: .5s;
}