body div {
    border-left: 30px solid red;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    width: 0;
}

body footer div {
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
}